<div id="signup" class="container edit-container">
	<div class="row">
		<div class="col-sm-2 col-sm-offset-5">
			<!-- <img class="logo" src="/assets/logo.png" /> -->
		</div>
	</div>
	<div class="row">
		<div class="form col-sm-4 col-sm-offset-4">
		    <%= form_for(:session, url: sessions_path) do |f| %>

		      <%= f.label :email %>
		      <%= f.text_field :email, class: "form-control" %>

		      <%= f.label :password %>
		      <%= f.password_field :password, class: "form-control" %>

		      <div class="button-container"><%= f.submit "Sign in", class: "save button" %></div>
		    <% end %>
		</div>
	</div>
</div>