<div id="apply-form">
  <%= form_for(@application) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row">
      <div class="col-md-3">
        <%= f.label "Full Name" %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= f.label "Email" %><br>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= f.label "Phone" %><br>
        <%= f.text_field :phone, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= f.label "Age" %><br>
        <%= f.number_field :age, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= f.label "Video Link" %><br>
        <%= f.text_field :video, :maxlength => 250, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= f.label "Tournament Experience" %><br>
        <%= f.text_area :results, class: "form-control text-area" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= f.label "Training Information" %><br>
        <%= f.text_area :training, class: "form-control text-area" %>
      </div>
    </div>
    <div class="button-container">
      <div class="row">
        <div class="col-sm-12">
          <%= f.submit "Send Application", class: "save button" %>
        </div>
      </div>
    </div>
  <% end %>
</div>