<div id="index" class="container">
  <div class="row">
    <div class="col-sm-12">
      <% if notice != nil %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <h1 class="float-left">Received Applications</h1>      
    </div>
    <div class="col-sm-12">

      <%= will_paginate %>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Video</th>
            <th>Results</th>
            <th>Training</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @applications.each do |item| %>
            <tr>
              <td><a href="/applications/<%= item.id %>"><%= item.name %></a></td>
              <td><%= item.email %></td>
              <td><%= item.age %></td>
              <td><%= item.phone %></td>
              <td><%= item.video %></td>
              <td><%= truncate(item.results, length: 25) %></td>
              <td><%= truncate(item.training, length: 25) %></td>
              <!-- <td><%= link_to "delete", item, method: :delete, data: { confirm: "You sure?" }, class: "delete-btn" %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate %>

    </div>
  </div>
</div>