<div id="index">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-sm-12">
				<h3><%= @application.name %></h3>
				<h3><%= @application.email %></h3>
				<h3><%= @application.age %></h3>
				<h3><%= @application.phone %></h3>
				<p><%= @application.training %></p>
				<p><%= @application.results %></p>
			</div>
		</div>
	</div>
</div>