<div id="index">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-sm-12">
				<h3>Name:</h3>
				<p><%= @application.name %>, <%= @application.age %></p>
				<h3>Email Address:</h3>
				<p><%= @application.email %></p>
				<h3>Phone:</h3>
				<p><%= @application.phone %></p>
				<h3>Training Experience:</h3>
				<p><%= @application.training %></p>
				<h3>Recent Results:</h3>
				<p><%= @application.results %></p>
			</div>
		</div>
	</div>
</div>